@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #5c0596;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #eecfd45b;
}

main {
    margin-top: 50px;
    height: 80vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 50px;
}

.container {
    display: flex;

    width: 100%;
    justify-content: space-around;
}

#inputData,
#outputData {
    width: 50%;
    height: 67vh;
}

#outputData {
    border-left: 1px solid #e6adec56;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-align: center;
    font-size: 1.5em;
}

form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: large;
    display: block;
    margin-top: 20px;
    font-weight: bold;
}

input {
    font-family: 'Varela Round', sans-serif;
    font-size: large;
    display: block;
    width: 250px;
    height: 30px;
    padding-left: 5px;
    border-radius: 10px;
    background-color: #E6ADEC;
    color: #5c0596;
    outline: none;
    border: none;
}

input[type=tel] {
    letter-spacing: 1px;
    text-align: center;
}

button {
    height: 35px;
    width: 110px;
    margin-top: 30px;
    border-radius: 8px;
    font-size: 18px;
    background-color: #efb9cb;
    border: none;
    color: #7f0eca;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    background-color: rgb(238, 200, 213);
}

#validations {
    margin-top: 60px;
    padding-left: 110px;
}

table,
th,
td {
    border-collapse: collapse;
    text-align: center;
}

table {
    width: 70%;
}

.firstTableLine {
    font-size: 1.5em;
    padding-bottom: 50px;
}

th {
    font-size: large;
}

.name,
.td1 {
    text-align: left;
}

.phone,
.td2 {
    text-align: right;
}

.td1,
.td2 {
    padding-top: 15px;
}

.pList {
    margin-top: 50px;
}